﻿@model IEnumerable<WebShop.Shared.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <title>Каталог товаров</title>
</head>
<body>
    <h3>Товары</h3>
    <table class="table">
        @foreach (var item in Model)
        {
        <tr><td>@item.Title</td><td>@item.Price</td><td>@item.Category</td><td><a href="~/Product?id=@item.Id">Подробнее</a></td></tr>
        }
    </table>
</body>
</html>