﻿@model UserRegisterViewModel

<form asp-action="Register" asp-controller="Account" method="post">
    <div class="form-group">
        <label>Login</label>
        @Html.EditorFor(item => item.Login)
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.EditorFor(item => item.Password)
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Confirm password</label>
        @Html.EditorFor(item => item.ConfirmPassword)
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <input type="submit" value="Register" />
</form>

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}